{% extends "base.html" %}


{% block content %}

<div class="page-title">
	<h1>Blink Inhibition</h1>
	Determine when a group of viewers is engaged
</div>

<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultrices enim ipsum, et euismod tellus maximus ac. Morbi sollicitudin volutpat ipsum, rutrum vehicula enim posuere non. Mauris mattis libero non sapien tincidunt, et fermentum nulla euismod. Cras ut finibus lectus. Nulla sed tellus nunc. Ut eget convallis mi, sed porta odio. In hac habitasse platea dictumst. Integer lobortis consectetur mi, sit amet semper felis accumsan eu. Cras pretium lobortis dapibus.</p>

<p> Sed volutpat, nisi id volutpat rhoncus, justo diam pellentesque nisi, in congue neque augue non enim. Suspendisse at nulla fermentum, rutrum erat at, dignissim lectus. Cras ligula quam, molestie sit amet metus sed, porttitor blandit magna. Cras eu laoreet ligula. Praesent tempor sodales nisi quis consequat. Sed egestas interdum quam eget vestibulum. Etiam dignissim justo eu dolor fringilla faucibus. Morbi semper urna et dolor tempor egestas. Nullam sed velit congue, scelerisque velit a, interdum sem.</p>

<p> Ut luctus auctor purus, id scelerisque velit tempus ut. Ut quis feugiat risus. Donec ullamcorper aliquam purus vitae egestas. Nulla vitae risus sed tortor aliquet egestas nec vel sem. Donec porta non risus non feugiat. Morbi interdum mattis purus, in porttitor massa facilisis ac. Phasellus non facilisis arcu. Proin iaculis dolor et magna tempor, et fringilla leo dignissim. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc tristique nec ipsum in lacinia. </p>

{% endblock %}