{% extends "base.html" %}


{% block content %}

<h1>IRB questions?</h1>
<p> Provide info here: details about the website, how it runs. <a href="https://github.com/cranti/blink-web/">Source code</a> </p>


<h1>Resources</h1>
<div>
	<a href="http://www.pediatrics.emory.edu/divisions/autism/lab/index.html">Social Neuroscience Lab</a>
</div>

<h1>Contact Us</h1>

Carolyn Ranti
<a href="mailto:ranticarolyn@gmail.com">ranticarolyn@gmail.com</a>

Sarah Shultz, PhD
<a href="mailto:email@me.com">email@me.com</a>

{% endblock %}