{% extends "base.html" %}


{% block content %}

<h1> ReSITE </h1>
<p>Relative Salience Identified Through Eye-blinks</p>

<br>
<p> [App overview] - standalone application, written in MATLAB, that uses eye-blink data to examine the salience of a visual stimulus to a group of viewers. The application runs two kinds of analyses:</p>

<p>Blink Inhibition - determine when a group of viewers is engaged by examining when they are significantly inhibiting their blinking.</p>

<p>Peri-Stimulus Time Histogram - assess the salience of a particular kind of event within a stimulus</p>

<br>
<a href="/install"> Download and Installation Instructions</a>


<p> Site overview? Instructions for using the GUI  <p>



{% endblock %}