{% extends "base.html" %}

{% block content %}

<div class="page-title">
	<h1>Peri-Stimulus Time Histogram</h1>
	Assess a stimulus's power to engage a group of viewers
</div>

<br>
<div class="section-list">
	<a href="#prep">Prepare Data</a>
	<a href="#inputs">Inputs and Settings</a>
	<a href="#outputs">Outputs</a>
	<a href="#run">Run Analysis</a>
	<a href="#trouble">Troubleshooting</a>
</div>


 <figure>
  	<img src="../../static/figs/blankGUI_psth.png" alt="blinkmod blank app">
</figure> 


<div class="section-title">
	<a name="prep">Prepare Data</a>
	<a href="#" class="to-top">[Back to the top]</a>
</div>

<div class="section-content">

	<div class="content1">
		To run this analysis, you need:
			<ul class="content2">
				<li>A set of participants who viewed a stimulus (or stimuli) with an event of interest</li>
				<li>Data indicating when each participant blinked (<b>target events</b>)</li>
				<li>Data indicating the occurrence of some event of interest while target data was collected (<b>reference events</b>)</li>
			</ul>
	</div>

	<div class="content1">
		Target and reference data must be saved in two csv files. There are two acceptable formats:

		<ol class="content2">
		
			<li>
				<b>One set per column</b>
				<ul>
					<li>Each column contains one set of target/reference events (e.g. one participant per column)</li>
					<li>Each row is a sample 
						<ul>
							<li>Data should be collected at a constant sample rate </li>
						</ul>
					</li>
					<li>Data must be numeric and categorical
						<ul>
							<li>You will specify one <b>target value</b> and one <b>reference value</b> that indicate the occurrence of an event.</li>
							<li>NaN indicates <a href="/psth/methods">lost data</a> (this is the only acceptable non-numeric value)</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				<b>Three column format</b>
				<ul>
					<li>Each event appears in a separate row</li>
					<li>Three columns (in the following order, no header row):
						<ol>
							<li><b>Set identifier</b> – a numeric value that is unique to each target or reference set</li>
							<li><b>Event start</b> – sample when event began (integer)</li>
							<li><b>Event end</b> – sample when event ended (integer)</li>
						</ol>
					</li>
					<li>If this format is selected, you need to specify the length of the data collected, in number of samples 
						<ul>
							<li>NB: for this input format, all sets are assumed to have the same number of samples.</li>
						</ul>
					</li>
				</ul>
			</li>
		</ol>

	</div>


	<div class="content1">
		Target and reference files <b>do not</b> need to be in the same format, but the event sets must match.
			
			<div class="content2">
				There are two ways that target event sets can be paired to reference event sets:
				<ol class="content2">
					<li>A single set of reference events, which will be applied to all target sets</li>
					<li>One reference set per target set 
					<ul>
						<li><b>One set per column:</b> Target events in the first column will be paired with the reference events in first column, etc.</li>
						<li><b>Three column format:</b> Target sets are matched to reference sets with the same <b>set identifier</b>. If only one of the files is in three column format, each set identifier should be the <b>column number</b> of the corresponding set in the other file.</li>
					</li>

				</ol>
			</div>

			<div class="content2">
				Corresponding target and reference sets must have the same number of samples.
				<br>
				<div style="font-style: italic; padding-top: 5px; padding-left: 20px">
					e.g. If there is one set of reference events for all target sets, then all columns (in both files) must have the same number of rows
				</div>
			</div>
	</div>

	<div class="content1">
		<a href="#">[DOWNLOAD EXAMPLE DATA SET (create toy data!)]</a>
	</div>
</div>


<div class="section-title">
	<a name="inputs">Inputs and Settings</a>
	<a href="#" class="to-top">[Back to the top]</a>
</div>
<div class="section-content">
	<div class="content1">
		1. &nbsp;Select "Target Events" to load data

		<div class="content2">
			After a <b>csv file</b> has been selected, dialog boxes will appear:
				<ul class="content2">
					<li>Select <b>file format</b> (<em>One set per column</em> or <em>Three column format</em>)</li>
					<li>Enter <b>sample length</b> (only if file is in <em>Three column format</em>)</li>
					<li>Enter <b>target event code</b> - the numeric value in the input file that indicates the occurrence of a target event</li>
					<li>Enter <b>target event type</b> (<em>All frames</em>, <em>First frame only</em>, <em>Middle frame only</em> or <em>Last frame only</em>) - determines how consecutive target events are <a href="/psth/methods">handled</a></li>
				</ul>
		</div>

		<div class="content2">
			<b>Note</b>: loading the file may take time, particularly if there are many rows. A progress bar will show the status of data conversion.
		</div>
	</div>


	<div class="content1">
		2. &nbsp;Select "Reference Events" to load data

		<div class="content2">
			After a <b>csv file</b> has been selected, dialog boxes will appear:
				<ul class="content2">
					<li>Select <b>file format</b> (<em>One set per column</em> or <em>Three column format</em>)</li>
					<li>Enter <b>sample length</b> (only if file is in <em>Three column format</em>)</li>
					<li>Enter <b>reference event code</b> - the numeric value in the input file that indicates the occurrence of a reference event</li>
					<li>Enter <b>reference event type</b> (<em>All frames</em>, <em>First frame only</em>, <em>Middle frame only</em> or <em>Last frame only</em>) - determines how consecutive reference events are <a href="/psth/methods">handled</a></li>
				</ul>
		</div>

		<div class="content2">
			<b>Note</b>: loading the file may take time, particularly if there are many rows. A progress bar will show the status of data conversion.
		</div>

		<div class="content2">
			<a href="#">Target and reference events</a> will be plotted in the application:
				

			<div class="content2">
					<img src="../../static/figs/inputPlotCrop_psth.png" alt="targ/ref plot">
			</div>

			<ul class="content2">
				<li>Reference events are plotted as black vertical lines</li>
				<li>
					Target events are displayed as blue circlues, with one participant per row
					<ul>	
						<li>If target data was in <em>Three column format</em>, the y axis label corresponds to the set identifier.</li>
						<li>Otherwise, the number indicates the column that the data was in.</li>
					</ul>	
				</li>
				<li>Use the right and left arrows by the x axis to scroll through the data</li>
				<li>Right click for more options:
					<ul>
						<li><b>Pop out figure</b> to view in a spearate window <em>(in which you can zoom, drag to scroll, etc)</em></li>
						<li><b>Scroll y axis <em>up</em></b> (or <b><em>down</em></b>) to view other target participants (if there are more than 10)</li>
						<li><b>Sort targets</b>
							<ul>
								<li><b><em>Original</em></b>: sort by target ID/column number (default)</li>
								<li><b><em>Ascending density</em></b>: participants with fewer target events appear in lower rows</li>
								<li><b><em>Descending density</em></b>: participants with more target events appear in lower rows</li>
							</ul>
						</li>
					</ul>
			</ul>
		</div>


	</div>


	

	<div class="content1">
		3. &nbsp;Select <b>window size</b> - number of samples <b>before event</b> and <b>after event</b> to include in the PSTH.
	</div>

	<div class="content1">
		4. &nbsp;Specify the <b>number of permutations</b> for <a href="#">statistical testing</a> <em>(max: 10,000)</em>
	</div>

	<div class="content1">
		5. &nbsp;Advanced settings (optional)
		<div class="content2">
			<b>Event start frame</b> - minimum sample number at which target and reference data should be included. Set to greater than 1 in order to exclude the beginning of a stimulus (e.g. if there are articfacts from the preceding stimulus, etc.). 
			<div class="content2">
				<b><em>Note:</em></b> this value is used in data conversion for the <b>reference events</b>. If you want to change the event start frame, it must be set BEFORE loading the reference file.
			</div>
		</div>

		<div class="content2">
			<b>Include threshold</b> - threshold for including target dat ain the PSTH. This value (0-1) indicates the proportion of the target data around an event that must be valid (i.e. not NaN) in order to include that segment in the analysis. 
			<div class="content2">
				<b><em>Note:</em></b> this is only relevant if target data is in the <em>One set per column</em> format, as the <em>Three column format</em> does not have an option to specify lost data.
			</div>
		</div>
		<div class="content2">
			<b>Significance thresholds </b>for the permutation test
		</div>
	</div>


</div>


<div class="section-title">
	<a name="outputs">Outputs</a>
	<a href="#" class="to-top">[Back to the top]</a>
</div>

<div class="section-content">
	<div class="content1">
		Results will be plotted in separate windows. Use checkboxes to specify which outputs should be <em>saved</em>.
	</div>

	<div class = "content1">
		<b>Summary csv</b> (PSTHsummary.csv)

		<div class="content2">
			 Comprehensive summary document, containing the following sections:

			<ul class = "content2">
			</ul>
		</div>
	</div>

	<div class = "content1">
		<b>Figures</b> (PSTH.jpg and SOMETHING ELSE)

		<div class="content2">
			[Explanation of plots]
		</div>

		<div class="content2">
			Use drop down menu to select figure format (.jpg, .pdf, .eps, .fig, .png, or .tif).
		</div>

		<div class="content2">
			<img src="../../static/figs/outputPlot.png" alt="psth output">
		</div>
	</div>

	<div class = "content1">
		<b>.mat file</b> (BLINK_MOD.mat) - a MATLAB file containing a single struct ("results"), with the following fields:

		<ul class="content2">
		</ul>
	</div>


</div>


<div class="section-title">
	<a name="run">Run Analysis</a>
	<a href="#" class="to-top">[Back to the top]</a>
</div>

<div class="section-content">
	<div class = "content1">
		After specifying inputs and outputs, press "Run Analysis." Progress bars will show the status.
	</div>

	<div class = "content1">
		Figures with the results of the analysis will appear in a separate window (see <a href="#outputs">Outputs</a> for details)
	</div>

</div>


<div class="section-title">
	<a name="trouble">Troubleshooting</a>
	<a href="#" class="to-top">[Back to the top]</a>
</div>

<div class="section-content">
	<div class = "content1">
		[Link to error list]
	</div>
</div>


{% endblock %}