{% extends "base.html" %}


{% block content %}

<h1>Detect Modulation of Group Blink Rates</h1>

<div class="ref-note">
	See <a href="/blink-mod/background">Background</a> for details about this analysis. MATLAB code is available for download <a href="/code">here</a>.
</div>

<form method="post">
	<table class="input-table">
		<tr>
			<td class="has-hint">
				<span class="input-label">
					# Permutations
				</span>
				<div class="hint">Number of permutations to run.</div>
			</td>
			<td>
				<select class="input-select" name="numPerms">
					<option value="100">100</option>
					<option value="500">500</option>
					<option value="1000">1000</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="has-hint">
				<span class="input-label">
					Input format
				</span>
				<div class="hint">There are two formatting options for the blink data: a matrix, with one subject per row, or a three column format, with one blink per row (columns being subject identifier, blink start frame, and blink end frame).<br><br><b>See "Background" for details.</b></div>
			</td>
			<td>
				<select class="input-select" name="inputFormat">
					<option>Matrix (subj x frame)</option>
					<option>3 columns</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="has-hint">
				<span class="input-label">
					Samples/Minute
				</span>
				<!-- <div class="hint">Sample rate of the blink data</div> -->
			</td>
			<td>
				<input name="sampleRate" type="textarea">
			</td>
		</tr>
		<tr>
			<td class="has-hint">
				<span class="input-label">
					Sample Length
				</span>
				<div class="hint">Number of frames. <b>Only for 3 column format.</b></div>
			</td>
			<td>
				<input name="sampleLen" type="textarea">
			</td>
		</tr>
		<tr>
			<td class="has-hint">
				<span class="input-label">
					Blink data
				</span>
				<div class="hint">Columns separated by commas, rows separated by semi-colons or a new line. Spaces will be ignored.</div>
			</td>
			<td>
				<textarea name="blinks"></textarea>
			</td>
		</tr>
	</table>
	<br>
	
	<br>
	<br>
	<input type="submit" value="Start">
</form>

{% endblock %}